header {
    background-color: aquamarine;
    border: solid 1px;
    margin-top: 4px;
    background-image: url(cabecera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   

}

.padre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    

}


header nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

header h1 {
    color: white;
    font-size: 5em;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;

}

.imgheader {
    border: solid 1px chocolate;
    justify-content: center;
    width: 220px;
   

}

